body{
   background-color: #6f0000;
}
h1,h5{
    font-weight: 1000;
    font-style: oblique;
    color:#d0ac1a;
    text-align: center;
    font-size: 30px;
   

}
h2{
    font-weight: 500;
    font-style: oblique;
    color:#d0ac1a;
    text-align: center;
}
input[type=text] {
    width: 20%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

h3{
    
    color:#d0ac1a;
}
h4{
    color:#d0ac1a;
    text-align: center;
}
.pic1{
     float:left;
     text-align:;

}
.button1 {
    background-color: #181616;
    border: none;
    color: #d0ac1a;
    padding: 15px 32px;
    text-align: center;
    text-decoration: left;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
p{
    color:#d0ac1a;
    text-align: center;
}
<<<<<<< HEAD
h8{
    font-weight: 10000;
    font-style: oblique;
    color:#d0ac1a;
    text-align: center;
    text-indent: 500%;
    font-size: 200px;

=======
.icon{
    font-size: large;
    
>>>>>>> a2c6d81899d1e764151f677283a74779c5ad5ba8
}